# dependencies
node_modules/

# production
dist/

# logs
*.log

# env
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# build
coverage/

#md file
.md

# Visual Studio
.vs/

# ZIP archives
*.zip